<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danielsapps.packbuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateProfile"
            android:label="CreateProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TakePicture"
            android:label="@string/title_activity_take_picture"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:label="@string/title_activity_main" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity> -->
        <activity
            android:name="com.danielsapps.HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HostelSearch"
            android:label="@string/title_activity_hostel_search"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest> <!-- android:name=".StartScreen" -->
